.pagination button{
  margin: 0 5px;
  border-radius: 100%;
  padding: 0;
  width: 40px;
  height: 40px;
}

.pagination button:disabled {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}