@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 123, 195);
  font-size: clamp(0.7rem, 0.6399999999999999rem + 0.30000000000000004vw, 1rem);
}

#root {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 800px;
  padding: 10px;
}

.App h1 {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.App__btns {
  display: flex;
  justify-content: space-between;
}

.Loader {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.post-enter {
  transform: translate(-1000px);
}
.post-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease-in;
}
.post-exit {
  transform: translate(0);
}
.post-exit-active {
  transform: translate(-1000px);
  transition: transform 1000ms ease-in;
}