@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 123, 195);
}

#root {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 800px;
  font-size: 1rem;
}

.App h1 {
  color: white;
  text-align: center;
}

.post-enter {
  transform: translate(-1000px);
}
.post-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease-in;
}
.post-exit {
  transform: translate(0);
}
.post-exit-active {
  transform: translate(-1000px);
  transition: transform 1000ms ease-in;
}