.myBtn {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  background-color: whitesmoke;
  transition: opacity 0.2s linear;
  margin-top: 10px;
}

.myBtn:hover {
  opacity: 0.9;
}

.myBtn:disabled {
  cursor: not-allowed;
  opacity: 1;
}