.comments-section {
  margin-top: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
}

.comment {
  padding: 20px;
  margin: 15px 0;
  background-color: white;
  border-radius: 20px;
  color: black;
}